<%  //Configura el lugar desde donde toma los strings para la página actual
    actual_page = lang.pages.data %>
<!DOCTYPE html>
<html lang="<%= lang.website.lang %>" prefix="og: http://ogp.me/ns#">

<head>
    <%- include ('../partials/head.ejs')%>
</head>

<body dark>
    <%# Insertar loader %>
    <%- include ('../partials/loader.ejs')%>
    <%# Insertar header %>
    <%- include ('../partials/header.ejs')%>
    <%# Insertar modal login %>
    <%- include ('../partials/signInmodal.ejs')%>

    <div id="container" class="grid">
        <div class="separate">
            <%# Insertar menú lateral %>
            <%- include ('../partials/menu.ejs')%>
            <%# Aquí va todo el contenido principal %>
            <div class="principal">
                <h1 class="maintitle"><%= actual_page.title %></h1>
                <section class="section">
                    <p>En esta sección se puede visualizar los datos generados por el dispositivo.
                        <br>
                        * Requiere de una conexión Wi-Fi para funcionar.
                    </p>
                    <% if (dispositivo) {                                            %>
                        <table class="table-dark table">
                            <thead>
                                <tr>
                                    <th>Dispositivo</th>        <th>Propietario</th>
                                    <th>Fecha</th>              <th>Hora</th>
                                    <th>Latitud</th>            <th>Longitud</th>
                                    <th>GMT (server)</th>       <th>Tipo</th>
                                    <th>Mapa</th>
                                </tr>
                            </thead>
                            <tbody>
                    <% Object.keys(dispositivo).forEach(function(dkeyd) {       %>
                        <% Object.keys(dispositivo[dkeyd].events).forEach(function(key) {          %>
                            <% var events=dispositivo[dkeyd].events;
                            var link = "/ubicacion_en_mapa?"
                                    + "latitude="+events[key].latitude + "&longitude="+events[key].longitude
                                    +"&dispo="+dispositivo[dkeyd].name  + "&user="+user.uname
                                    + "&type="+events[key].type + "&date="+events[key].date + "&time="+events[key].time;
                            %> 
                                <tr>
                                    <td><%- dispositivo[dkeyd].name %></td>   <td><%= user.uname %></td>
                                    <td><%- events[key].date %></td>        <td><%- events[key].time %></td>
                                    <td><%- events[key].latitude %></td>    <td><%- events[key].longitude %></td>
                                    <td><%- events[key].GMT %></td>         <td><%- events[key].type %></td>
                                    <td><a class="menulink" href="<%= link %>>">Ver en el mapa</a></td>        
                                </tr>                                           
                        <% });                                                  
                     });                                                               %>
                            </tbody>                                                
                        </table>                                                
                     <% } else {                                                       %>
                        <h2 class="align-center">Debe iniciar sesión primero.</h2>
                     <% }                                                              %>

                </section>
            </div>
        </div>
    </div>
    <%# Insertar footer %>
    <%- include ('../partials/footer.ejs')%>
</body>

</html>