<%  //Configura el lugar desde donde toma los strings para la página actual
    actual_page = lang.pages.grupo %>
<!DOCTYPE html>
<html lang="<%= lang.website.lang %>" prefix="og: http://ogp.me/ns#">

<head>
    <%- include ('../partials/head.ejs')%>
</head>

<body dark>
    <%# Insertar loader %>
    <%- include ('../partials/loader.ejs')%>
    <%# Insertar header %>
    <%- include ('../partials/header.ejs')%>
    <%# Insertar modal login %>
    <%- include ('../partials/signInmodal.ejs')%>

    <div id="container" class="grid">
        <div class="separate">
            <%# Insertar menú lateral %>
            <%- include ('../partials/menu.ejs')%>
            <%# Aquí va todo el contenido principal %>
            <div class="principal">
                <h1 class="maintitle"><%= actual_page.title %></h1>
                <table class="table-dark table">
                    <thead>
                        <tr><th>Apellidos</th>      <th>Nombres</th>            <th>CUI</th>     </tr>
                    </thead>
                    <tbody>
                        <tr><td>Casani Valencia</td><td>Terry Joel</td>         <td>20193275</td></tr>
                        <tr><td>Guillen Bellido</td><td>Cristhofeer Andree</td> <td>20193278</td></tr>
                        <tr><td>Valero Huarsaya</td><td>Bryan Patrick</td>      <td>20193288</td></tr>
                        <tr><td>Ydme Zea</td>       <td>Jhon Paul</td>          <td>20190807</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%# Insertar footer %>
    <%- include ('../partials/footer.ejs')%>
</body>

</html>