<%  //Configura el lugar desde donde toma los strings para la página actual
    actual_page = pages.info %>
<!DOCTYPE html>
<html lang="<%= website.lang %>" prefix="og: http://ogp.me/ns#">

<head>
    <%- include ('../partials/head.ejs')%>
</head>

<body dark>
    <%# Insertar loader %>
    <%- include ('../partials/loader.ejs')%>
    <%# Insertar header %>
    <%- include ('../partials/header.ejs')%>

    <div id="container" class="grid">
        <div class="separate">
            <%# Insertar menú lateral %>
            <%- include ('../partials/menu.ejs')%>
            <%# Aquí va todo el contenido principal %>
            <div class="principal">
                <h1 class="maintitle"><%= actual_page.title %></h1>
                <div class="section">
                    <p><%= actual_page.message %></p>
                    
                    <h2><%= actual_page.title2 %></h2>
                    <p><%= actual_page.message2 %></p>
                    <ol title="<%= actual_page.title2 %>">
                        <li><b><%= actual_page.msg2_li[1].li_name %></b>
                            <br><%= actual_page.msg2_li[1].li_text %>
                        </li><br>
                        <li><b><%= actual_page.msg2_li[2].li_name %></b>
                            <br><%= actual_page.msg2_li[2].li_text %>
                        </li><br>
                        <li><b><%= actual_page.msg2_li[3].li_name %></b>
                            <br><%= actual_page.msg2_li[3].li_text %>
                        </li><br>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <%# Insertar footer %>
    <%- include ('../partials/footer.ejs')%>
</body>

</html>