<%  //Configura el lugar desde donde toma los strings para la página actual
    actual_page = lang.pages.status %>
<!DOCTYPE html>
<html lang="<%= lang.website.lang %>" prefix="og: http://ogp.me/ns#">

<head>
    <%- include ('../partials/head.ejs')%>
</head>

<body dark>
    <%# Insertar loader %>
    <%- include ('../partials/loader.ejs')%>
    <%# Insertar header %>
    <%- include ('../partials/header.ejs')%>
    <%# Insertar modal login %>
    <%- include ('../partials/signInmodal.ejs')%>

    <div id="container" class="grid">
        <div class="separate">
            <%# Insertar menú lateral %>
            <%- include ('../partials/menu.ejs')%>
            <%# Aquí va todo el contenido principal %>
            <div class="principal">
                <h1 class="maintitle"><%= actual_page.title %></h1>
                <section class="section">
                    <h2 id="conexion">Conexión</h2>
                    <h2 id="bateria">Batería</h2>
                </section>
            </div>
        </div>
    </div>
    <%# Insertar footer %>
    <%- include ('../partials/footer.ejs')%>
</body>

</html>