<!DOCTYPE html>
<!-- <html lang="es-ES" prefix="og: http://ogp.me/ns#"> -->
<html lang="es-412" prefix="og: http://ogp.me/ns#">

<head>
    <title><%= pages.login.title %></title>
    <meta property="og:title" content="<%= pages.grupo.title %>" data-rh="true">
    <meta name="description" content="<%= website.description %>" />
    <%- include ('./partials/head.ejs')%>
</head>

<body dark>
    <%# Insertar loader %>
    <%- include ('partials/loader.ejs')%>
    <%# Insertar header %>
    <%- include ('partials/header.ejs')%>
    <div id="container" class="grid">
        <div class="separate">
            <%# Insertar menú lateral %>
            <%- include ('partials/menu.ejs')%>
            <%# Aquí va todo el contenido principal %>
            <div class="principal">
                <h1 class="maintitle"><%= pages.grupo.title %></h1>
                <table class="table-dark table">
                    <thead>
                        <tr><th>Apellidos</th>      <th>Nombres</th>            <th>CUI</th>     </tr>
                    </thead>
                    <tbody>
                        <tr><td>Casani Valencia</td><td>Terry Joel</td>         <td>20193275</td></tr>
                        <tr><td>Guillen Bellido</td><td>Cristhofeer Andree</td> <td>20193278</td></tr>
                        <tr><td>Valero Huarsaya</td><td>Bryan Patrick</td>      <td>20193288</td></tr>
                        <tr><td>Ydme Zea</td>       <td>Jhon Paul</td>          <td>20190807</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%# Insertar footer %>
    <%- include ('partials/footer.ejs')%>
</body>

</html>