<!DOCTYPE html>
<!-- <html lang="es-ES" prefix="og: http://ogp.me/ns#"> -->
<html lang="es-412" prefix="og: http://ogp.me/ns#">
<head>
    <title><%= pages.index.title %></title>
    <meta property="og:title" content="<%= pages.index.title %>" data-rh="true">
    <meta name="description" content="<%= website.description %>" />
    <%- include ('./partials/head.ejs')%>
</head>

<body dark>
    <%# Insertar loader %>
    <%- include ('partials/loader.ejs')%>
    <%# Insertar header %>
    <%- include ('partials/header.ejs')%>
    <div id="container" class="grid">
        <div class="separate">
            <%# Insertar menú lateral %>
            <%- include ('partials/menu.ejs')%>
            <%# Aquí va todo el contenido principal %>
            <div class="principal">
                <h1 class="wip"><%= pages.index.message %></h1>
                <div class="section">
                    <!-- <img alt="Sample" height="400px" 
                    src="/img/sample.png" title="Sample" id="sampleimg"
                    style="position: relative;left: calc(90vh / 2);border-radius: 12%;"> -->
                </div>
            </div>
        </div>
    </div>
    <%# Insertar footer %>
    <%- include ('partials/footer.ejs')%>
</body>

</html>