<!DOCTYPE html>
<!-- <html lang="es-ES" prefix="og: http://ogp.me/ns#"> -->
<html lang="es-412" prefix="og: http://ogp.me/ns#">

<head>
    <title><%= pages.info.title %></title>
    <meta property="og:title" content="<%= pages.info.title %>" data-rh="true">
    <meta name="description" content="<%= website.description %>" />
    <%- include ('./partials/head.ejs')%>
</head>

<body dark>
    <%# Insertar loader %>
    <%- include ('partials/loader.ejs')%>
    <%# Insertar header %>
    <%- include ('partials/header.ejs')%>
    <div id="container" class="grid">
        <div class="separate">
            <%# Insertar menú lateral %>
            <%- include ('partials/menu.ejs')%>
            <%# Aquí va todo el contenido principal %>
            <div class="principal">
                <h1 class="maintitle"><%= pages.info.title %></h1>
                <div class="section">
                    <p>El Botón de pánico de emergencia SOS con Wi-Fi brinda un medio portátil para crear señales de auxilio en casos de emergencias.  Permite generar señales SOS desde el dispositivo hacia una interfaz web con sólo presionar el botón de auxilio ante situaciones de riesgo o agresión. Tambien envía un mensaje por correo.</p>
                    <p>Permite rastrear la ubicación geolocalizada mediante aplicación Web desde una PC o dispositivo móvil (por ejemplo iOS o Android).
                    <br> Es ideal como dispositivo de apoyo para Personas en riego de agresiones (Mujeres en programas de apoyo), Choferes de flotas o vehículos asaltados,  Cuidado de Personas de la tercera edad, Adultos mayores con discapacidad, Personas con capacidades especiales, Niños, Deportistas, Pacientes enfermos.</p>
                    <p>* Requiere de una conexión Wi-Fi para funcionar.</p>
                    
                    <h2>Beneficios</h2>
                    <p>El botón de pánico es un dispositivo que entrega múltiples beneficios a los dueños o administradores de pequeñas, medianas y grandes empresas, permitiéndole:</p>
                    <ol title="Beneficios">
                        <li><b>Anticiparse ante un posible asalto:</b>
                            <br> Sus colaboradores, al percatarse de un movimiento sospechoso o de la presencia de un posible delincuente, simplemente deben pulsar el Botón de Pánico para activar el procedimiento de seguridad de Alarmas.
                        </li><br>
                        <li><b>Proteja a sus colaboradores:</b>
                            <br> Permite una rápida reacción en caso de accidentes, caídas aparatosas o emergencias de tipo cardiovascular. En el caso de necesitar asistencia inmediata, sólo se debe pulsar el Botón de pánico.
                        </li><br>
                        <li><b>Precaución contra incendios u otros siniestros:</b>
                            <br> Mediante esta funcionalidad podrá alertar sobre incendios, inundaciones u otro tipo de sucesos que requieren de respuesta inmediata.
                        </li><br>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <%# Insertar footer %>
    <%- include ('partials/footer.ejs')%>
</body>

</html>