<!DOCTYPE html>
<!-- <html lang="es-ES" prefix="og: http://ogp.me/ns#"> -->
<html lang="es-412" prefix="og: http://ogp.me/ns#">

<head>
    <title><%= pages.info.title %></title>
    <meta property="og:title" content="<%= pages.info.title %>" data-rh="true">
    <meta name="description" content="<%= website.description %>" />
    <%- include ('./partials/head.ejs')%>
</head>

<body dark>
    <%# Insertar loader %>
    <%- include ('partials/loader.ejs')%>
    <%# Insertar header %>
    <%- include ('partials/header.ejs')%>
    <div id="container" class="grid">
        <div class="separate">
            <%# Insertar menú lateral %>
            <%- include ('partials/menu.ejs')%>
            <%# Aquí va todo el contenido principal %>
            <div class="principal">
                <h1 class="maintitle"><%= pages.info.title %></h1>
                <section class="section">
                    <p>En esta sección se puede visualizar los datos generados por el dispositivo.
                        <br>
                        <br>
                        * Requiere de una conexión Wi-Fi para funcionar.</p>
                </section>
            </div>
        </div>
    </div>
    <%# Insertar footer %>
    <%- include ('partials/footer.ejs')%>
</body>

</html>