<meta charset="UTF-8">
    <meta name="viewport"           content="width=device-width, initial-scale=1.0">
    <title><%= actual_page.title %></title>
    <meta property="og:title"       content="<%= actual_page.title %>" data-rh="true">
    <meta name="description"        content="<%= actual_page.description %>" />
    <meta property="og:description" content="<%= actual_page.description %>" />
    <meta property="og:type"        content="<%= actual_page.type %>"/>
    
    <link rel="shortcut icon"       href="<%= lang.website.icon %>" type="image/x-icon">
    <link rel="canonical"           href="<%= lang.website.domain %>">
    <!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <%# <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover">
    
    <!-- Meta etiquetas -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'none'"> %>
    <meta property="og:url"         content="<%= lang.website.domain %>" />
    <meta property="og:image"       content="<%= lang.website.image %>" />
    <meta property="og:site_name"   content="<%= lang.website.title %>" />
    <meta property="og:locale"      content="<%= lang.website.locale %>" />
    <%# Opcionales
    <meta property="og:audio" content="https://example.com/bond/theme.mp3" />
    <meta property="og:determiner" content="the" />
    
    <meta property="og:locale:alternate" content="fr_FR" />
    <meta property="og:locale:alternate" content="en_GB" />
    
    <meta property="og:video" content="https://example.com/bond/trailer.swf" />
    
    <!-- Search Engine Optimization by Rank Math - https://s.rankmath.com/home -->
    <meta name="robots" content="index,follow"/>
    
    <meta property="fb:app_id" content="236804760387339">

    <meta property="og:image" content="https://i.ytimg.com/vi/7STbq-ZYhmY/maxresdefault.jpg">
    <meta property="og:image:secure_url" content="https://i.ytimg.com/vi/7STbq-ZYhmY/maxresdefault.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:type" content="image/png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Sistema de Botón de Pánico">
    <meta name="twitter:description" content="El Botón de pánico de emergencia SOS con Wi-Fi brinda un medio para crear señales de auxilio en casos de emergencias.">
    <meta name="twitter:image" content="https://i.ytimg.com/vi/7STbq-ZYhmY/maxresdefault.jpg">

    <script type="application/ld+json">[{"@context":"https:\/\/schema.org","@type":"WebSite","@id":"https:\/\/www.bluestacks.com\/es\/index.html#website","url":"https:\/\/www.bluestacks.com\/es\/index.html","name":"BlueStacks","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.bluestacks.com\/search\/{search_term_string}\/es\/","query-input":"required name=search_term_string"}},{"@context":"https:\/\/schema.org","@type":"Organization","@id":"https:\/\/www.bluestacks.com\/es\/index.html#organization","name":"BlueStacks","url":"https:\/\/www.bluestacks.com","sameAs":["https:\/\/www.facebook.com\/BlueStacksInc\/","https:\/\/twitter.com\/bluestacksinc\/","https:\/\/www.reddit.com\/r\/BlueStacks\/","https:\/\/www.linkedin.com\/company\/bluestacks\/","https:\/\/www.youtube.com\/channel\/UC9eB0Ysv4UcKgjEy47zcZ5A"],"logo":"https:\/\/cdn-www.bluestacks.com\/bs-images\/BS-logo-icon.jpg"}]</script>
    <!-- /Rank Math WordPress SEO plugin -->
    
    <link rel="alternate" hreflang="x-default" href="https://botondepanico.tk">
    <link rel="mask-icon" sizes="any" href="https://abs.twimg.com/responsive-web/client-web/icon-svg.168b89d5.svg" color="#1D9BF0">
    <link rel="shortcut icon" href="https://abs.twimg.com/favicons/twitter-pip.2.ico">
    <link rel="apple-touch-icon" sizes="192x192" href="https://abs.twimg.com/responsive-web/client-web/icon-ios.b1fc7275.png">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    
    <!-- Font Awesome Free -->      %>
    <script src="https://kit.fontawesome.com/5991870b6e.js" crossorigin="anonymous" data-auto-a11y="true"></script>
    <%# 
    <!-- Font awesome Pro-->
    <script type="text/javascript" src="https://kit.fontawesome.com/01d926b69c.js"></script>
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.10.1/css/pro.min.css" media="all" crossorigin="anonymous">
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.10.1/css/pro-v4-shims.min.css" media="all" crossorigin="anonymous">
    %>
    <link rel="webmanifest" href="<%= lang.website.webmanifest %>" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css" media="all">
    <link rel="stylesheet" href="/css/header.css" media="all">
    <link rel="stylesheet" href="/css/menulist.css" media="all">
    <link rel="stylesheet" href="/css/loader.css" media="all">
    <link rel="stylesheet" href="/css/footer.css" media="all">
    <link rel="stylesheet" href="/css/principal.css" media="all">
    <style>.fa-rotate-90 {
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
        filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    } </style>
    <script src="/js/app.js"></script>