<% menu = partials.menu; %> 
<div class="menu">
        <nav class="menulist"><!--  collapsed-nav> -->
            <%# 
            <div class="searchbox">
                <input class="searchboxitem" 
                    name="search_query" 
                    type="text" role="combobox" 
                    placeholder="< %#= partials.menu.search % >" 
                    >
            </div>
            %>
            <div class="categorylist">
                <ul>
                    <li class="listmenu">
                        <div class="button">
                            <div class="arrow">
                                <a class="menulink" href="<%= pages.index.path %>">
                                    <i class="fas fa-home"></i> <%= menu.home  %>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="listmenu">
                        <button class="button" onclick="list(2)">
                            <div class="arrow">
                                <i class="fas fa-angle-down"></i>
                                <span><%= menu.login.text %></span>
                            </div>
                        </button>
                        <ul>
                            <li>
                                <a class="menulink" href="<%= pages.signIn.path %>">
                                <i class="fas fa-user-astronaut"></i> <%= menu.login[1] %></a>
                            </li>
                            <li>
                                <a class="menulink" href="<%= pages.signUp.path %>">
                                <i class="fas fa-user-astronaut"></i> <%= menu.login[2] %></a>
                            </li>
                        </ul>
                    </li>
                    <li class="listmenu">
                        <button class="button" onclick="list(3)">
                            <div class="arrow">
                                <i class="fas fa-angle-down"></i>
                                <span><%= menu.status.text %></span>
                            </div>
                        </button>
                        <ul>
                            <li><a class="menulink" href="<%= pages.status.path %>#conexion">
                                <i class="fas fa-wifi"></i> <%= menu.status[1] %></a>
                            </li>
                            <li><a class="menulink" href="<%= pages.status.path %>#bateria">
                                <i class="fas fa-battery-three-quarters"></i> <%= menu.status[2] %></a>
                            </li>
                        </ul>
                    </li>
                    <li class="listmenu">
                        <button class="button" onclick="list(4)">
                            <div class="arrow">
                                <i class="fas fa-angle-down"></i>
                                <span><%= menu.data.text %></span>
                            </div>
                        </button>
                        <ul>
                            <li><a class="menulink" href="<%= pages.data.path %>#cargar">
                                <i class="fas fa-upload"></i> <%= menu.data[1] %></a>
                            </li>
                            <li><a class="menulink" href="<%= pages.data.path %>#reiniciar">
                                <i class="fas fa-redo"></i> <%= menu.data[2] %></a>
                            </li>
                        </ul>
                    </li>

                    <li class="listmenu">
                        <button class="button" onclick="list(5)">
                            <div class="arrow">
                                <i class="fas fa-angle-down"></i>
                                <i class="fas fa-info-circle"></i>
                                <span> <%= menu.info.text %></span>
                            </div>
                        </button>
                        <ul>
                            <li><a class="menulink" href="<%= pages.grupo.path %>">
                                <i class="fas fa-briefcase"></i> <%= menu.info[1] %></a>
                            </li>
                            <li><a class="menulink" href="<%= pages.info.path %>">
                                <i class="fas fa-microchip"></i> <%= menu.info[2] %></a>
                            </li>
                        </ul>
                    </li>

                    <li class="listmenu">
                        <button class="button"onclick="list(6)">
                            <div class="arrow">
                                <i class="fas fa-angle-down"></i>
                                <i class="fas fa-map-marked-alt"></i>
                                <span> <%= menu.maps.text %></span>
                            </div>
                        </button>
                        <ul>
                            <li><a class="menulink" href="<%= pages.maps.path %>">
                                <i class="fas fa-location-arrow"></i> <%= menu.maps[1] %></a>
                            </li>
                            <li><a class="menulink" href="<%= pages.maps.path %>">
                                <i class="fas fa-map-marker-alt"></i> <%= menu.maps[2] %></a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </div>